.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

.to-do-list {
  max-width: 850px;
  margin: 40px auto;
  text-align: left;
}

.to-do-list li {
  margin: 8px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* sign in styles */
#signInForm body {
  font: 1em sans-serif;
  padding: 0;
  margin : 0;
}

#signInForm {
  max-width: 200px;
  margin: 0;
  padding: 0 5px;
}

#signInForm p > label {
  display: block;
}

input[type=text],
input[type=email],
input[type=number],
textarea,
#signInForm fieldset {
/* required to properly style form 
   elements on WebKit based browsers */
  -webkit-appearance: none;
  
  width : 100%;
  border: 1px solid #333;
  margin: 0;
  
  font-family: inherit;
  font-size: 90%;
  
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#signInForm input:invalid {
  box-shadow: 0 0 5px 1px red;
}

#signInForm input:focus:invalid {
  outline: none;
}
